@import "tailwindcss";

.root {
  isolation: isolate;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root[data-theme="light"] {
  background-color: var(--color-slate-50);
}

:root[data-theme='dark'] {
  background-color: var(--color-slate-900);
}